* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    280deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(237, 237, 237, 1) 92%
  );
}

.side-bar {
  display: none;
}

.top-bar {
  height: 100px;
  width: 100%;
  /* background-color: green; */
}
.top-bar h1 {
  text-align: center;
  position: relative;
}

.fa-bars {
  /* margin: 6px 0; */
  color: #f34d4e;
  position: relative;
  top: 34px;
  left: 25px;
}
.hamburger-icon {
  position: relative;
}

.fa-shopping-cart {
  color: #f34d4e;

  position: absolute;
  right: 25px;
  top: 33px;
}

.heading-div {
  width: 100%;
}

.heading-div h1 {
  padding: 30px 30px 20px;
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  top: 80px;
  left: 15px;
}

/* --------------Food section start------------- */

/* food button with image positioning */
.b1 {
  position: absolute;
  top: 210px;
  left: 35px;
}
.b2 {
  position: absolute;
  top: 210px;
  left: 210px;
}

.b3 {
  position: absolute;
  top: 450px;
  left: 35px;
}

.b4 {
  position: absolute;
  top: 450px;
  left: 210px;
}

/* image inside button */
img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px;
}

/* Box styling */
.box {
  border-radius: 20px;
  border: none;
  outline: none;
  display: inline-block;
  width: 160px;
  height: 220px;
  margin: 10px;
  text-align: center;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box h3 {
  position: relative;
  top: 15px;
  font-size: 15px;
}

/* --------------Food section end------------- */

.paragraph-div {
  position: absolute;
  top: 680px;
  left: 10px;
}

.paragraph-div p {
  padding: 30px 30px 20px;
  font-family: Arial;
  font-size: 20px;
  color: #686b78;
  /* line-height: 10px; */
}

.paragraph-div hr {
  background-color: red;
  height: 3px;
  width: 20%;
  border: 0;
  position: absolute;
  left: 30px;
}

/* -------------Desktop resize----------*/
@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
  }

  .heading-div {
    width: 100%;
  }

  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      280deg,
      rgba(255, 255, 255, 1) 29%,
      rgba(237, 237, 237, 1) 92%
    );
  }

  /* Disable top bar */
  .top-bar {
    display: none;
  }
  /* The sidebar menu */
  .side-bar {
    height: 100%;
    width: 590px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* The navigation menu links */
  .side-bar a {
    margin-left: 10px;
    padding: 20px 45px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    font-family: "Roboto", sans-serif;
    display: block;
  }

  .side-bar h2 {
    margin-left: 50px;
    margin-top: 30px;
    padding-bottom: 50px;
    font-size: 30px;
  }

  /*About strikethrough*/
  #strike-through {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
  }

  /* When you mouse over the navigation links, change their color */
  .side-bar a:hover {
    color: black;
  }

  /*Cart button */
  .side-bar .btn {
    background-color: #f34d4e;
    border: none;
    border-radius: 35px;
    color: white;
    padding: 15px 50px 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 60px;
  }
  .side-bar {
    display: block;
  }

  .heading-div h1 {
    padding: 30px 30px 20px;
    font-size: 60px;
    line-height: 80px;

    position: absolute;
    left: 400px;
    top: 100px;
  }

  /*food button with image positioning */
  .b1 {
    position: absolute;
    top: 350px;
    left: 430px;
  }
  .b2 {
    position: absolute;
    top: 350px;
    left: 630px;
  }

  .b3 {
    position: absolute;
    top: 350px;
    left: 830px;
  }

  .b4 {
    position: absolute;
    top: 350px;
    left: 1030px;
  }
  */

  /* image inside button */
   img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px;
  }

  .paragraph-div {
    position: absolute;
    top: 110px;
    left: 1000px;
  }

  .paragraph-div p {
    padding: 30px 30px 20px;
    font-family: Arial;
    font-size: 20px;
    /* line-height: 10px; */
  }

  .paragraph-div hr {
    background-color: red;
    height: 3px;
    width: 20%;
    border: 0;
    position: absolute;
    left: 30px;
  }
}
